/*
 * Copyright (c) 2025 miketronic
 * SPDX-License-Identifier: MIT
 * AELIUX 4
 */

/*
 * Includes Cem's zmk-rgbled-widget - https://github.com/caksoylar/zmk-rgbled-widget
 * &ind_bat  // indicate battery level
 * &ind_con  // indicate connectivity status
 *
 */


#include <behaviors.dtsi>
#include <behaviors/rgbled_widget.dtsi>
#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/mouse.h>

#define ALPHA    0
#define SYM      1
#define NUM      2
#define FN       3
#define MS       4

#define QSYM    &lt SYM Q
#define ENUM    &lt NUM ESC
#define ZFN     &lt FN  Z
#define PMOUSE  &lt MSE P

&mt {
    tapping-term-ms = <160>;
};

&lt {
    tapping-term-ms = <150>;
};


/ {
    combos {

        compatible = "zmk,combos";
        combo_bootloader {
            timeout-ms = <50>;
            key-positions = <1 10>;
            bindings = <&bootloader>;
        };
    };

    behaviors {

        bkt: tap_dance_bracket {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };

        brc: tap_dance_brace {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LBRC>, <&kp RBRC>;
        };

        par: tap_dance_paren {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };

        thn: tap_dance_then {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LT>, <&kp GT>;
        };

        hrm: homerow_mods {
           compatible = "zmk,behavior-hold-tap";
           #binding-cells = <2>;
           tapping-term-ms = <250>;
           quick-tap-ms = <0>;
           flavor = "tap-preferred";
           bindings = <&kp>, <&kp>;

        };

    };



    keymap {
        compatible = "zmk,keymap";

        ALPHA_layer {
            display-name = "ALPHA";  
            bindings = <
                &lt NUM ESC &lt SYM Q &kp W  &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &lt MSE P &kp BSPC
                &kp TAB  &kp A &kp S &kp D &kp F &kp G &kp H &kp J &kp K &kp L &kp SEMI
                &kp LSHFT &lt FN Z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp UP
                &kp LCTRL &kp GUI &kp ALT &kp RET &kp SPACE &kp LEFT &kp RIGHT &kp DOWN
            >;
        };
  

        SYMBOL_layer {
            display-name = "SYMBOL";  
            bindings = <
                &kp GRAVE &none  &kp AT &kp HASH &kp DLLR &kp PRCNT &kp CARET &kp AMPS &kp STAR &kp PIPE &none &none 
                &kp GRAVE &kp TILDE &kp UNDER &kp EQUAL &none  &bkt &brc &par &thn &kp BSLH &none
                &none &none &kp PLUS &kp MINUS &none &none &none &kp COLON &trans &kp SEMI &none
                &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        NUMBER_layer {
            display-name = "NUMBER";  
            bindings = <
                &none  &none  &kp N1 &kp N2  &kp N3  &kp N4 &kp N5  &kp N6  &kp N7 &kp N8  &kp N9 &kp N0
                &none  &none  &none  &none  &none  &none  &none  &none  &kp N4 &kp N5  &kp N6
                &none  &none  &none  &none  &none  &none  &none  &none  &kp N1 &kp N2  &kp N3
                &trans &trans &trans &trans &trans &trans &trans &trans
            >;
        };

        FUNCTION_layer {
            display-name = "FUNCTION";  
            bindings = <
                &none  &bootloader  &none  &none  &none  &none  &none  &none  &none  &none &kp UP  &none
                &none  &none  &none  &none  &none  &none  &none  &none  &kp LEFT  &none  &kp RIGHT
                &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  &none
                &trans &trans &trans &trans &trans &trans &ind_bat &ind_con
            >;
        };

        MOUSE_layer {
            display-name = "MOUSE";  
            bindings = <
                &none  &none &msc SCRL_UP &mmv MOVE_UP &msc SCRL_DOWN  &none  &none  &none  &none  &none &none  &none
                &none  &mmv MOVE_LEFT &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &none  &none  &none  &none  &none &none
                &none  &none  &none  &mkp MCLK &mkp RCLK &mkp LCLK  &none  &none  &none  &none  &none
                &trans &trans &mkp RCLK &mkp LCLK &trans &trans &trans &trans
            >;
        };

    };
};
