# Copyright (c) 2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

config ZMK_BACKLIGHT_BRT_STEP
    default 20

config ZMK_BACKLIGHT_BRT_START
    default 40

config ZMK_BACKLIGHT_ON_START
    default y

endif # ZMK_BACKLIGHT

if SHIELD_AELIUX_4

config ZMK_KEYBOARD_NAME
    default "Aeliux 4"

endif
